<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Myles Gig invoice {{ date('Y-m-d') }}</title>
   
    <style>

    p.heading {
        font-size: 16px;
        color: #000;
        font-weight: 600;
        margin-left: 12px;
    }
    .headingsd{
      margin-right: 12px;
      font-size: 16px;
      color: #000;
      font-weight: 600;
    }
    tr.items td {
    text-align: left !important;
    border: 1px solid #eee;
    }
    tr.gigpdf td {
      text-align: right !important;
    }

    tr.total td {
    text-align: left !important;
}
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 0px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 12px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #000;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
        font-size: 15px;
        padding-left: 25px;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        text-align: left;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

     @font-face {
        font-family: 'Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif';
     }
   
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    h6{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 35px;
        margin-right: 12px;
    }
    .dat{
      margin-right: 12px;
      font-size: 14px;
    }
    .text-black{
      font-size:15px;
      margin-left: 25px;
      margin-right: 15px;
      margin-top: 4px; 
    }
    .text-secondary{
      font-size: 20px;     
      font-weight: 500;
      margin: 5px 0px 0px 25px;
    }
    </style>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://themylesapp.ca/public/website/images/logo-default-slim.png" height="70px" width="180px" style="margin-top: 22px; margin-left: -35px;">
                            </td>
                            
                            <td class="heading">
                                 <h6>assada</h6>
                                 <p class="dat">cdsa</p>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <p class="heading" style="margin-left: -25px;">Items</p>
                                 <p style="margin-left: -25px;">sadsda</p>   
                            </td>                            
                            <td>
                                <p class="headingsd">zccsads</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </table>

            <h5 class="text-secondary m-0">Pickup Location Date & time</h5>
            <p class="text-black fw-600">cdsada</p>

            <h5 class="text-secondary" >Drop Location Date & time</h5>
            <p class="text-black fw-600">xadsdsada</p>
            <br><br>
            <table cellpadding="0" cellspacing="0">
                <tr class="items">
                    <td>Offer Charges</td>               
                    <td>$ asds</td> 
                </tr>
                <tr class="items">
                    <td>Tax</td>               
                    <td>$ asds</td> 
                </tr>
                <tr class="items">
                    <td>Service Charge</td>               
                    <td>$ asdsd</td> 
                </tr>
                <tr class="items">
                    <td>Total Amount</td>               
                    <td>$ adsds</td> 
                </tr>
                <tr class="items">
                    <td>Booked On</td>               
                    <td>asdsada</td> 
                </tr>
            </table>
   
        </div>
 
        
      </div>
    </div>
  </div>
</div>
 
      <div class="information" style="position: absolute; bottom: 0;background: #f2f1ff;color: #fff;padding: 10px;">
            <table width="100%">
                <tr>
                     <td align="center">
                         <a href="http://themylesapp.ca/" target="_blank" style="color: #000; text-align: center!important; text-decoration: none;">Myles App &copy; {{ date('Y') }} - All rights reserved.<a>
                    </td>
                    <td align="right" style="width: 50%;">
                         
                    </td>
                </tr>

            </table>
        </div>
 
</body>
</html>