.checkbox{
    padding-left: 20px;
}
.d-inline-block{
    display: inline-block!important;
}
.d-block{
    display:block!important;
}
.profile-box{width: 500px;margin: 40px auto 40px;max-width: 100%;
    padding: 0px 0px;box-shadow: 0px 1px 6px;
}
.upld1-img{
    position: relative;
    overflow: hidden;
}
.upld1-img .upld-item{
    width: 100%;
}
.upld1-img input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.upld1-img .btn-small {
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/plus-icon.png');
    background-size: cover;
    background-position: top center;
}
.add-facility{position: relative;}
.add-facility .plus-btn{
  position: absolute;top: -2px;
  left: 187px;
  cursor: pointer;
  background-size: 100%;
  width: 30px; height: 30px;
  background-repeat: no-repeat;
  background-image: url('../img/plus-icon.png');
}
.add-facility .facility-box .col-md-6{
    margin-bottom: 5px;
}
.add-facility .facility-box span{
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 0px 5px ;
    border: solid 1px #333;
    border-radius: 50%;cursor: pointer;
}
.appendBox{
    position: relative;
    margin-bottom: 15px;
}
.appendBox .remove{
    text-decoration: none;
    color: #FF7700;
    float: right;
    clear: both;
    margin-right: 5px;
}
.add-pic .pic-box{
    margin-top: 20px;
}
.logoImg .hide{display:none;}
.logoImg {
  clear: both;width: 100px;text-align: center;position: relative;max-width: 100%;
}
.logoImg.small{
    width: 50px;
}
.logoImg img{
  width: 100%;max-width: 100%;margin: 0 auto;
}
.logoImg .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.logoImg .btn {
    border-color: #FF7700;
}
.logoImg .btn-large {
    padding: 5px;
    width: 50px;height: 50px;
    position: absolute;
    bottom: -13px;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border: none;
    right: -20px;
    font-size: 17.5px;
    background-image: url('../img/plus-icon.png');
}
.logoImg .btn-small {
    padding: 5px;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -10px;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border: none;
    right: -10px;
    font-size: 17.5px;
    background-image: url('../img/plus-icon.png');
    background-size: cover;
    background-position: top center;
}
.padding-5 {
    padding: 5px
}
.padding-top-5 {
    padding-top: 5px
}
.padding-bottom-5 {
    padding-bottom: 5px
}
.padding-left-5 {
    padding-left: 5px
}
.padding-right-5 {
    padding-right: 5px
}
.padding-right-4 {
    padding-right: 4px
}
.padding-5-0 {
    padding: 5px 0
}
.padding-0-5 {
    padding: 0 5px
}
.padding-10 {
    padding: 10px
}
.padding-top-10 {
    padding-top: 10px
}
.padding-bottom-10 {
    padding-bottom: 10px
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-right-10 {
    padding-right: 10px
}
.padding-10-0 {
    padding: 10px 0
}
.padding-0-10 {
    padding: 0 10px
}
.padding-15 {
    padding: 15px
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px ;
}
.padding-left-15 {
    padding-left: 15px
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-right-15 {
    padding-right: 15px
}
.padding-15-0 {
    padding: 15px 0
}
.padding-0-15 {
    padding: 0 15px
}
.margin-2 {
    margin: 2px
}
.margin-top-2 {
    margin-top: 2px
}
.margin-bottom-2 {
    margin-bottom: 2px
}
.margin-left-2 {
    margin-left: 2px
}
.margin-right-2 {
    margin-right: 2px
}
.margin-2-0 {
    margin: 2px 0
}
.margin-0-2 {
    margin: 0 2px
}
.margin-5 {
   margin: 5px
}
.margin-top-5 {
    margin-top: 5px
}
.bg-input{background-color: #ececec;}
.margin-bottom-5 {
    margin-bottom: 5px
}
.margin-left-5 {
    margin-left: 5px
}
.margin-right-5 {
    margin-right: 5px
}
.margin-5-0 {
    margin: 5px 0
}
.margin-0-5 {
    margin: 0 5px
}
.margin-10 {
    margin: 10px
}
.margin-top-10 {
    margin-top: 10px
}
.margin-bottom-10 {
    margin-bottom: 10px
}
.margin-left-10 {
    margin-left: 10px
}
.margin-right-10 {
    margin-right: 10px
}
.margin-10-0 {
    margin: 10px 0
}
.margin-0-10 {
    margin: 0 10px
}
.margin-15 {
    margin: 15px
}
.margin-top-15 {
    margin-top: 15px
}
.margin-bottom-15 {
    margin-bottom: 15px
}
.margin-bottom-25 {
    margin-bottom: 25px
}
.margin-left-15 {
    margin-left: 15px
}
.margin-right-15 {
    margin-right: 15px
}
.margin-15-0 {
    margin: 15px 0
}
.margin-0-15 {
    margin: 0 15px
}
.margin-bottom-50 {
    margin-bottom: 50px
}
.no-border {
    border: none
}
.custom-col-1 {
    width: 20%
}
.no-radius {
    border-radius: 0 !important;
}
.no-margin {
    margin: 0
}
.no-margin-bottom {
    margin-bottom: 0!important
}
.no-margin-left {
   margin-left: 0!important
}
.no-margin-top {
    margin-top: 0!important
}
.no-margin-right {
    margin-right: 0!important
}
.margin-auto {
    margin: auto
}
.no-padding {
    padding: 0
}
.no-padding-left {
    padding-left: 0!important;
}
.no-padding-bottom {
    padding-bottom: 0!important
}
.no-padding-left {
    padding-left: 0!important
}
.no-padding-top {
    padding-top: 0!important
}
.no-padding-right {
    padding-right: 0!important
}
.no-border-bottom {
    border-bottom: 0!important
}
.no-border-left {
    border-left: 0!important
}
.no-border-top {
   border-top: 0!important
}
.no-border-right {
    border-right: 0!important
}
.addImgBoxView .addImgView{width: 100%; overflow: hidden; min-height: 90px;max-height:120px;position: relative;text-align: center;}
.addImgBoxView .delAddImg{position: absolute;right: 3px;top: -8px;width: 20px; height: 20px; background: #333; border-radius: 50%;color: #fff;text-align: center;}
.addImgBoxView .addImgView img{max-width: 100%; margin: 0 auto;}
.border2px{border: solid 2px #333;padding: 10px 0px;margin-top: 10px; }
.view-add-pic{padding: 10px 5px;border: solid 1px #cecece;}
.view-add-pic .remove-bt{cursor: pointer; padding: 2px 8px;
    background: rgba(0,0,0,.9);
    z-index: 9999999;
    border-radius: 50%;}
    .cursor {
        cursor: pointer
    }
    .background-none {

       background: 0 0
   }
   .background-color1 {
    background-color: #383f48
}
.border1 {
    border: 1px solid #ccc
}
.border2{
    border: solid 1px grey !important;
}
.border1-l {
    border-left: solid 1px #ccc
}
.border1-r {
    border-right: solid 1px #ccc
}
.border1-t {
    border-top: solid 1px #ccc
}
.border1-b {
   border-bottom: solid 1px #ccc
}
.bg-white {
    background: #fff
}
.Background1,
.Background2,
.Background3,
.Background4 {
    background-size: cover
}
.box-shadow {
   box-shadow: 0 2px 6px rgba(0, 0, 0, .2)
}
.text-uppercase {
    text-transform: uppercase
}
.textshadow-none {
    text-shadow: none
}
.float-left {
    float: left
}
.float-right {
    float: right
}
.text-left{text-align: left;}
.text-right{text-align: right;}
.opacity-1 {  opacity: 1;}
.text-white { color: #fff !important;}
.close-btn {
    position: absolute;
    right: 0px;
    top: -13px;
}

@media (max-width: 1024px) {
    .cs_box {
        width: 80% !important;
    }
}
@media (min-width: 768px) {
	.form-horizontal .control-label {
        text-align: left;
    }
}
@media (max-width: 767px) {
    .navbar-brand-logo {
        height: 44px;
        width: auto;
        margin-left: 27px;
    }
}
.removeInnerAns{position: relative;}
.removeInnerAns .delInnerAns{    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 7px;z-index: 9;
}
.addSubCatBox{border: solid 2px #333;
    margin-bottom: 20px;
    padding: 12px 20px;
}
.tabs-new{
    border-bottom: 0;
    width: 100%;
    background-color: #e1e8ef;
    border-radius: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.tabs-new li{
    display: table-cell;
    width: 1%;
    border-left: 1px solid #c0cfdd;
    float: none;
}

.tabs-new li a{}

#sticky.stick {

    margin-top: 0 !important;

    position: fixed;

    top: 50px;

    z-index: 10000;

    width: 81.5%;

}

.layout-content-body-dummy {

    float: left;

    padding: 15px 15px 35px;

    visibility: visible;

    width: 100%;

}

.css-treeview ul,

.css-treeview li{

    padding: 0;

    margin: 0;

    list-style: none;

}



.css-treeview input{

    position: absolute;

    opacity: 0;

}



.css-treeview{

    font: normal 11px "Segoe UI", Arial, Sans-serif;

    -moz-user-select: none;

    -webkit-user-select: none;

    user-select: none;

}



.css-treeview a{

    color: #00f;

    text-decoration: none;

}



.css-treeview a:hover{

    text-decoration: underline;

}



.css-treeview input + label + ul{

    margin: 0 0 0 22px;

}



.css-treeview input ~ ul{

    display: none;

}



.css-treeview label,

.css-treeview label::before{

    cursor: pointer;

}



.css-treeview input:disabled + label{

    cursor: default;

    opacity: .6;

}



.css-treeview input:checked:not(:disabled) ~ ul{

    display: block;

}



.css-treeview label,

.css-treeview label::before{

    background: url("../img/icons.png") no-repeat;

}



.css-treeview label,

.css-treeview a,

.css-treeview label::before{

    display: inline-block;

    height: 16px;

    line-height: 16px;

    vertical-align: middle;

}



.css-treeview label{

    background-position: 18px 0;

}



.css-treeview label::before{

    content: "";

    width: 16px;

    margin: 0 22px 0 0;

    vertical-align: middle;

    background-position: 0 -32px;

}



.css-treeview input:checked + label::before{background-position: 0 -16px;}

#grapeImg{width: auto;max-width: 200px;margin: 0 auto;}


.comboGroup input.c1{

    width: 25px!important;

}
.d-flex{
    display: flex!important;
}
.align-items-center{
    align-items: center!important;
}
.justify-content-center{
    justify-content: center!important;
}
.text-dark{
    color: #111!important
}
.d-block{
    display: block;
}
.nowrap{white-space: nowrap;}
.word-break{word-break: normal!important;}
.table td span{display: block;white-space: normal;word-break: break-all;}
.ms-options-wrap > button:focus, .ms-options-wrap > button{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.538462;
    color: #111;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cad6e2;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.ms-options-wrap > .ms-options > ul input[type="checkbox"]{
    top: 3px;
}
.ms-options-wrap ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.ms-options-wrap > .ms-options{
    height: auto!important;
    min-height: inherit!important;
    max-height: 200px!important;
}
th .custom-control-label{
    font-weight: 600;
}
th.no-sort:before,
th.no-sort:after{
    display: none!important
}
th.no-sort{
    padding-right: 10px!important
}
.mxh-274{max-height: 274px;overflow: auto;}
.mxh-274::-webkit-scrollbar{
    width:5px;
    background-color: #035675
}
.mxh-274::-webkit-scrollbar-thumb{
    background-color: #94145b
}
.height-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.full-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
.full-height > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}
.star-rating {
    overflow: hidden;
    position: relative;
    display: block;
    height: 1em;
    line-height: 1;
    font-size: 1.5em;
    width: 115.5px;
    font-family: 'star';
    font-weight: 400;
    word-break: keep-all;
    margin-bottom: 5px;
}
.star-rating:before {
    content: "\f006\f006\f006\f006\f006";
    font-family: FontAwesome;
    letter-spacing: 0.313em;
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    color: #2c2d33;
}
.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
.star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;
    letter-spacing: 0.313em;
    top: 0;
    position: absolute;
    left: 0;
    color: #fd6602;
}
input.invalid {
  background-color: #ffdddd;
}
.step-tab {
  display: none;
}
.step-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step-dot.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-dot.finish {
  background-color: #4CAF50;
}

.allot-category{
    position: relative;
    border: 1px solid #cad6e2;
    padding: 0 10px;
    height: 120px;
    overflow-y: auto;
}
.allot-category ul{
  list-style: none;
  padding-left: 0px;
}
.allot-category ul li{
  margin-bottom: 7px;
}
.checkbox label, .radio label {
    padding-left: 5px !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #6b52ab !important;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.bg-primary {
    background-color: #6b52ab !important;
    border-color: #6b52ab important;
    color: #fff;
}
.formIcons .fa.fa-search{
    position: absolute;
    top: 0;
}
.wpx-195{
    width: 195px;
}
.support_box{
    background-color: #c0c0c045;
    padding: 30px;
    border: 1px solid lavender;
    margin-top: 25px;
}
.rightArrow{
    position: absolute;
    right: 25px;
    top: 26px;
    font-size: 39px;
    color: #7b7777;
    cursor: pointer;
}
.bg-search{
    background-image: url('../img/search-icons.png');
    background-image: url(../img/search-icons.png);
    background-repeat: no-repeat;
    background-position: 0.5% 50%;
    cursor: pointer;
}
.border-0{
    border: 0;
}
.p-10-all{
    padding: 20px;
}
.cs_box{
    width: 50%;
    border: 1px solid silver;
    padding: 16px;
}
.cs_box p{
    font-weight: 400;
}
.bg-silver {
    background-color: #c0c0c047;
}
.p-10{
    padding: 10px;
}



/*chat plugin css*/
  .sidebar-chat-info {
    color: #999999;
    font-size: 0.92857em; 
    float: left;
    width: 100%;
  }

.sidebar-chat {
  z-index: 9999999; 
  float: left;
  width: 100%;
}
.sidebar-chat .list-group{
  width: 100%;
  float: left;
  height: 446px;
  border-radius: 4px;
  overflow-y: auto;
  display: block;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.sidebar-chat .list-group::-webkit-scrollbar{
  width: 0px;
}
.sidebar-chat .list-group-item {
  text-decoration: none;
  background: none;
  border: 0;
  border-top: 1px solid #eef1f2;
  padding: .7em .7em;
  overflow: hidden;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
}
.sidebar-chat .list-group-item:first-child {
  border:0px;
}
    
.sidebar-chat figure {
  position: relative;
  margin-bottom: 0; }
.sidebar-chat .list-group-item > span {
  line-height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.sidebar-chat .list-group-item .name {
  font-size: 0.92857em;
  font-family: "Poppins", sans-serif;
  color: #444;
  font-weight: 500;
  top: 0.69231em;
  margin-bottom: 0.38462em;
  margin-top: 0.30769em; }
.sidebar-chat .list-group-item .username {
  opacity: 0.7;
  font-size: 0.85714em;
  top: -0.08333em; }
.thumb-xs img{
    height: 28px;
    width: 28px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.sidebar-chat [class*="user-"]:after {
    position: absolute;
    top: calc(50% + 15px);
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*.user--online:after {
    background: #06d6a0;
}*/
.gutter-xs{margin: 0px -5px;}
.gutter-xs [class*="col-"]{padding: 0px 5px;}
[class*="user--"]::after {
    height: 0.64286em;
    width: 0.64286em;
    display: block;
    position: absolute;
    top: 0;
    right: 10%;
    border-radius: 100px;
    content: "";
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
}
.widget-chat-activity{
  width: 100%;
  float: left;
  height: 280px;
  overflow-y: auto;
}
.scrollbar-enabled{
  width: 100%;
  float: left;
  height: auto;
}
.widget-chat-activity::-webkit-scrollbar{
  width: 0px;
}
.widget-chat-activity .message.reply figure {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    position: relative;
}
.widget-chat-activity .message figure {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: relative;
}

.widget-chat-activity .message:first-child {
    margin-top: 0;
}
.widget-chat-activity .message {
    margin: 0.71429em 0;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.widget-chat-activity .message.reply .message-body {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.widget-chat-activity .message .message-body {
    margin-top: .5em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: auto 1.5em;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.widget-chat-activity .message.reply p {
    background: #fff;
    border: 1px solid #eef1f2;
    border-radius: 5px;
    color: #666;
}
.widget-chat-activity .message p {
    background: #35445d;
    border: 1px solid #35445d;
    box-shadow: 0 0 2px #eef1f2;
    border-radius: 5px;
    padding: .5em 1em;
    color: #fff;
    margin-bottom: .5em;
    position: relative;
}
.widget-chat-activity .message.reply p:first-child:before, .widget-chat-activity .message.reply p:first-child:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    right: auto;
    left: -7px;
    border: 7px solid #fff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: -1px 1px 1px #e5e5e5;
}
.widget-chat-activity .message p:first-child:before {
    right: -12px;
    left: auto;
    border-left-color: #35445d;
}
.widget-chat-activity .message p:first-child:before, .widget-chat-activity .message p:first-child:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: .77rem;
    right: -7px;
    left: auto;
    border: 7px solid #35445d;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.searchbox{
  width: 100%;
  float: left;
  padding: 15px 0px;
  position: relative;
}
.searchbox ul{
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 8px rgba(15,15,15,.1);
  background-color: #fff;
  z-index: 111;
}
.searchbox ul.active{
  display: block;
}
.searchbox ul li{
  width: 100%;
  float: left;
  padding: 0px;
  list-style: none;
}
.searchbox ul li a{
  width: 100%;
  float: left;
  padding: 6px 15px;
  text-decoration: none;
  color: #222;
}
.searchbox ul li.active > a, .searchbox ul li:hover > a{
  background-color: #e5e5e5;
}
/*chat plugin css END*/
/*__________mn css __________*/

/*__________mn css END __________*/
/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0{
    .css-treeview 
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}