.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1080px;
}
.circle-100-b2{
    width: 100px;
    height: 100px;
    border:2px solid #fff;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.opacity-25{opacity: .25!important;}
.opacity-5{opacity: .5!important;}
.opacity-75{opacity: .75!important;}
.h1, h1{
    font-size: 46px;
}
.h2, h2{
    font-size: 32px;
}
.h3, h3{
    font-size: 26px;
}
.h4, h4{
    font-size: 22px;
}
.h5, h5{
    font-size: 20px;
}
.h6, h6{
    font-size: 16px;
}
img{
    max-width: 100%;
}
.bg-gray{
    background-color: #eee!important
}
.italic{
    font-style: italic;
}
.iti{
    width:100%;
    float:left
}
.form-group .valid{
    /*position:absolute;
    right:20px;
    bottom:4px;*/
    width: 100%;
    float: left;
    background-color:#fff;
    padding:4px 0px 0;
}
.form-control.icon{
    padding-right: 40px;
}
.form-control.search{
    background-image: url(../images/search.png);
    padding-left: 45px!important;
    background-position: center left 18px;
}
.form-control.name{
    background-image: url(../images/name.png);
}
.form-control.email{
    background-image: url(../images/mail.png);
}
input[type=tel],
.form-control.phone{
    background-image: url(../images/Mobile.png);
}
.form-control.password{
    background-image: url(../images/show_gray.png);
}
.form-control.password[type=text]{
    background-image: url(../images/hide_password.png);
}
.form-control.location[type=text]{
    background-image: url(../images/location.png);
}
.form-control.cards{
    background-image: url(../images/master_card.png);
    background-size: 22px;
}
.form-control.date{
    background-image: url(../images/calendar.png);
    background-size: 17px;
}
.card-block-small .f-left{
    text-align: left;
    display: flex;
}
.widget-full-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-bottom: 30px;
}
.widget-full-height .widget-bg {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}


.pcoded .pcoded-header .pcoded-left-header, .pcoded.expanded .pcoded-navbar {
    width: 270px;
}

.pcoded .pcoded-navbar {
    float: left;
}
.pcoded .pcoded-navbar {
    position: fixed;
}
.pcoded .pcoded-navbar {
    background: #fff;
}
.pcoded .pcoded-navbar {
    box-shadow: 0 0 11px rgba(0,0,0,0.13);
}
.pcoded .pcoded-navbar {
    z-index: 1027;
    height: 100%;
}
.pcoded .pcoded-navbar {
    display: block;
}

.pcoded.offcanvas .pcoded-navbar {
    width: 270px;
    margin-left: -270px;
}

.uploadMulti{
    width: 100%; 
    min-height: 100vh; 
    float: left; 
    padding: 40px;
}
.uploadMulti ul{
    margin: 0px -5px;
}
.uploadMulti .li{
    float: left;
    padding: 5px;
    width: 20%;
    position: relative;
    text-align: center;
}
.uploadMulti .li .img{
    width: 100%;
    float: left;
    height: 155px;
    overflow: hidden;
}
.uploadMulti .li img{
    width: 100%;
    min-height: 100%;
    height: auto;
}
.uploadMulti .li .closess{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    background-color: #ff3f00;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.uploadMulti .li strong, .uploadMulti .li input{
    display: block;
    padding: 0px 8px;
    margin: 5px auto;
}
.border-top-1{
    border-top: 1px solid #d5d5d5;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 10px;
}
.dataTables_paginate.paging_simple_numbers{
    width: 100%;
    text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    width: 35px!important;
    height: 35px!important;
    padding: 0px!important;
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next{
    font-size: 0!important
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:after{
    content: '\f104';
    font-family: Fontawesome;
    font-size: 16px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:after{
    content: '\f105';
    font-family: Fontawesome;
    font-size: 16px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 1px solid #e8e8e8!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color: #F04048!important;
    background-color: #F04048!important;
    color: #FFFFFF!important;
    border-color: #F04048!important;
    box-shadow: inset 0 0 0px rgba(0,0,0,0);
}
table.dataTable.no-footer{
    border: 0px;
}
.table-wrap td{
    white-space: normal;
}
textarea{
    resize: none;
}
.form-group .invalid-feedback{
    width: 100%;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -1px;
}
.form-group .resendOtp{
    color: #F04048;
    position: absolute;
    bottom: 1px;
    right: 0px;
    font-size: 16px;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    background-color: #fff;
}
.form-group .editBtn{
    position: absolute;
    bottom: 1px;
    right: 0px;
    font-size: 16px;
    cursor: pointer;
    padding: 1px 0px 1px 1px;
    background-color: #fff;
}
.form-group .showHidePass{
    background-color: rgba(0,0,0,0);
    position: absolute;
    bottom: 8px;
    right: 3px;
    cursor: pointer;
    width: 20px;
    height: 16px;
}
.otpField{
    margin: 40px 0 60px;
    width: 100%;
    float: left;
    display: flex;
}
.otpField input{
    padding: 5px 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.29);
    border: 0px;
    margin: auto;
}
.otpField input::-webkit-outer-spin-button,
.otpField input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.otpField input:first-child{
    margin-left: 0px;
}
.otpField input:last-child{
    margin-right: 0px;
}
.rouded-5{
    border-radius: 5px!important;
}
.listBox{
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 160px);
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1)
}
.listBox li{
    float: left;
    width: 33.3333%;
    position: relative;
    font-size: 13px;
    padding-right: 18px;
}
.listBox li + li{
    padding-left: 18px;
}
.listBox li + li:before{
    content: '\f101';
    font-family: Fontawesome;
    position: absolute;
    width: 16px;
    left: -8px;
    top: calc(50% - 10px);
    line-height: 20px;
    color: #c5c5c5;
    font-size: 18px;
}
.listBox li:last-child{
    padding-right: 0px;
}
.ngx-toastr.ng-trigger{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #999;
    white-space: nowrap;
    font-size: 15px;
    text-transform: capitalize;
}
.toast-message.ng-star-inserted:before{
    content: '';
    font-family: Fontawesome;
}
.toast-error.ngx-toastr.ng-trigger {
    color: #fff;
    background-color: #d43505;
}
.toast-success.ngx-toastr.ng-trigger {
    color: #fff;
    background-color: #05bd58;
}
.form-control.is-invalid{
    border-color: #cccccc;
}
.custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 0rem rgba(220,53,69,.0);
}
.form-control[readonly] {
    background-color: #fff;
}
.wizard>.content fieldset{
    border: 0px;
}
.general-info .table-responsive th{
    width: 40%;
    white-space: inherit;
}
.general-info .table-responsive td{
    width: 60%;
    white-space: inherit;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.chartProgg{
    width: 100%;
    float: left;
    margin: 15px 0px 0px;
    padding: 0px;
}
.chartProgg li{
    margin-top: 10px;
    width: 50%;
    float: left;
    padding-right: 10px;
}
.page-header-title.d-flex{
    align-items: center;
}
.chartProgg .progg{
    width: 100%;
    float: left;
    border: 1px solid #444;
}
.chartProgg .progg span{
    float: left;
    height: 18px;
}

.quntity{
    display: flex;
    border: 1px solid #c5c5c5;
    width: 140px;
    border-radius: 5px;
}
.quntity .qtyBtn{
    padding: 5px 12px;
    border: 0px;
    border-radius: 5px;
    background-color: #fff;
    color: #444;
    float: left;
}
.quntity .qtyBtn:hover{
    color: #F04048;
}
.quntity .qtyval{
    color: #F04048;
    border: 0px;
    padding: 0px 4px;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 14px;
}

.qty{
    display: flex;
    border: 1px solid #c5c5c5;
    width: 65px;
    border-radius: 3px;
    padding-right: 20px;
    position: relative;
}
.qty .qtyInput{
    border: 0px;
    padding: 0px 4px;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 14px;
    height: 28px;
}
.qty .qtyBtn{
    padding: 0px 2px 0 0;
    border: 0px;
    border-radius: 0 3px 3px 0;
    background-color: #fff;
    color: #222;
    position: absolute;
    right: 0;
    top: 0;
    height: 14px;
    width: 16px;
    text-align: center;
    line-height: 14px;
    cursor: pointer;
    overflow: hidden;
}
.qty .qtyBtn:hover{
    color: #F04048;
}
.qty .qtyBtn + .qtyBtn{
    top: auto;
    bottom: 0;
    line-height: 10px;
}
.plr-65{
    padding-left: .65rem!important;
    padding-right: .65rem!important;
}
.pagination{
    width: 100%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination a{
    display: inline-block;
    padding: 4px 7px;
    border: 1px solid #4e73ee;
    color: #4e73ee;
    margin-left: -1px;
    min-width: 32px;
}
.pagination a.active{
    color: #fff;
    background-color: #4e73ee;
}

.cr-card{
    width: 100%;
    float: left;
    padding: 20px;
    border-radius: 7px;
    background-color: #f1f1f1;
}
.galleryImg ul{
    margin: 0px -5px;
}
.galleryImg li{
    width: 20%;
    float: left;
    padding: 18.89% 0px 0px;
    border-radius: 4px;
    overflow: hidden;
    border: 5px solid #fff;
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.galleryImg li .checkbox{
    position: absolute;
    top: 10px;
    left: 10px;
}
.checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.checkbox input[type=checkbox]{
    width: 18px;
    height: 18px;
    opacity: 0;
    position: absolute;
    left: 0px;
    z-index: 3;
    cursor: pointer;
}
.checkbox input[type=checkbox] + em{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: text-top;
    border: 2px solid #F04048;
    margin-right: 4px;
    position: relative;
    color: #F04048;
    font-size: 11px;
    font-family: Fontawesome;
    cursor: pointer;
}
.checkbox input[type=checkbox] + em:after{
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%) scale(2.5) rotate(-14deg);
    -webkit-transform: translate(-60%, -50%) scale(2.5) rotate(-14deg);
    -moz-transform: translate(-60%, -50%) scale(2.5) rotate(-14deg);
    opacity: 0;
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
}
.checkbox input[type=checkbox]:checked + em:after{
    opacity: 1;
    transform: translate(-60%, -50%) scale(1) rotate(-6deg);
}
.checkbox.toggle input[type=checkbox] + em{
    width: 46px;
    height: 22px;
    border-radius: 12px;
    border-color: #a4a4a4;
    background-color: #a4a4a4;
    transition: all ease-in-out .5s;
    vertical-align: middle;
}
.checkbox.toggle input[type=checkbox] + em:after{
    content: '';
    width: 12px;
    height: 12px;
    border:0px;
    border-radius: 100%;
    left: 10px;
    background-color: #fff;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.checkbox.toggle input[type=checkbox]:checked + em{
    border-color: #F04048;
    background-color: #F04048;
}
.checkbox.toggle input[type=checkbox]:checked + em:after{
    left: 32px;
    background-color: #fff;
}
.galleryImg li .checkbox input[type=checkbox] + em{
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 2px #959595, inset 0 0 2px #959595;
}

.nav-tab-group{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}
.nav-tab-group li{
    text-align: center;
    width: 100%;
    list-style: none;
    border: 1px solid #F04048;
    overflow: hidden;
    text-transform: uppercase;
}
.nav-tab-group li:first-child{
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
}
.nav-tab-group li:last-child{
    border-radius: 0px 5px 5px 0px;
    border-left: 0;
}
.nav-tab-group li a{
    color: #505050;
    text-decoration: none;
    padding: 4px 12px;
    width: 100%;
    display: block;
    background-color: #fff;
}
.nav-tab-group li.active a{
    color: #fff;
    background-color: #F04048;
}
.no-bg-img{background-size: 0;}
.btn-success.checkbox input[type=checkbox] + em{
    border-color: #fff;
    color: #fff;
}
.iti--separate-dial-code .iti__selected-flag,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag{
    background-color: transparent;
}
.iti__selected-flag{padding-left: 0px;}
.iti--separate-dial-code .iti__selected-dial-code{margin-left: 0px;}
.iti__arrow{
    width: 5px;
    height: 5px;
    border: 0px;
    margin-top: -2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    border-left: 1px solid #111;
    border-bottom: 1px solid #111;
}
.iti__selected-flag .iti__flag{display: none!important}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus, 
select:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
app-email-compose app-email-left .user-body .text-center .btn.btn-danger{
    display: none;
}

@media screen and (max-width: 574px){
    .page-wrapper .align-items-end .page-header-title{
        justify-content: center;
    }
}
@media screen and (max-width: 767px){
    .h1, h1 {
        font-size: 36px;
    }
    .login{
        padding-bottom: 0px;
        background-size: 0;
    }
    .login-card{
        max-width: 100%;
    }
    .login .login-left{
        padding-top: 40px;
        background-image: url(../images/login.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 57%;
        order: 2;
    }
    .login .login-right{
        order: 1;
        padding-bottom: 10px;
    }
    #owl-restaurants .item{
        margin: 0px 1.5%;
        width: 97%;
    }
    .pcoded .pcoded-content{
        float: left;
    }
    .pcoded.expanded .pcoded-content {
        margin-left: 0px;
    }
    .pcoded.offcanvas .pcoded-content {
        margin-left: 270px;
    }
    .pcoded.expanded .pcoded-navbar {
        width: 270px;
        margin-left: -270px;
    }
    .pcoded.offcanvas .pcoded-navbar {
        width: 270px;
        margin-left: 0px;
    }
    .user-detailsPage .nav-tabs li a,
    .user-detailsPage .sub-nav-tabs li a{
        font-size: 11px;
        padding: 1px 4px !important;
    }
    .avatar.small {
        width: 50px;
        height: 50px;
    }
    .page-wrapper .page-header-title h4{
        font-size: 15px;
    }
    .breadcrumb-title a {
        font-size: 12px;
    }
    .page-wrapper .page-header-title i{
        width: 40px;
        height: 40px;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .h1, h1 {
        font-size: 42px;
    }
    .user-detailsPage .nav-tabs li a,
    .user-detailsPage .sub-nav-tabs li a{
        font-size: 12px;
        padding: 3px 8px !important;
    }
    .avatar.small {
        width: 50px;
        height: 50px;
    }
    .page-wrapper .page-header-title h4{
        font-size: 15px;
    }
    .breadcrumb-title a {
        font-size: 12px;
    }
    .page-wrapper .page-header-title i{
        width: 40px;
        height: 40px;
    }
    .login .login-left, .login .login-right{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    .login .login-left, .login .login-right{
        padding-top: 30px;
        padding-bottom: 50px;
    }
}
.whr-8{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}
.ngx-datepicker-container .ngx-datepicker-calendar-container{
    z-index: 999;
}

select.form-control-md,
.form-control-md{
    padding-left: 18px;
    height: 40px!important;
}
.modal-dialog{
    margin-top: 3rem;
}
.modal-sm{
    max-width: 350px;
}
.gutter-xs{
    margin: 0 -5px;
}
.gutter-sm{
    margin: 0 -10px;
}
.gutter-md{
    margin: 0 -20px;
}
.gutter-lg{
    margin: 0 -35px;
}
.gutter-xl{
    margin: 0 -50px;
}

.gutter-xs > [class*=col-]{
    padding: 0 5px;
}
.gutter-sm > [class*=col-]{
    padding: 0 10px;
}
.gutter-md > [class*=col-]{
    padding: 0 20px;
}
.gutter-lg > [class*=col-]{
    padding: 0 35px;
}
.gutter-xl > [class*=col-]{
    padding: 0 50px;
}
.rounded-3{
    border-radius: 3px!important;
}
.rating{
    width: 122px;
    height: 20px;
    display: inline-block;
    position: relative;
    background-image: url(../images/star-gray.png), url(../images/star-gray.png), url(../images/star-gray.png), url(../images/star-gray.png), url(../images/star-gray.png);
    background-position: center left 2px, center left 26px, center left 51px, center left 75px, center left 99px;
    background-repeat: no-repeat;
}
.rating > span{
    width: 100%;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/star-yellow.png), url(../images/star-yellow.png), url(../images/star-yellow.png), url(../images/star-yellow.png), url(../images/star-yellow.png);
    background-position: center left 2px, center left 26px, center left 51px, center left 75px, center left 99px;
    background-repeat: no-repeat;
}
.border-1{border: 1px solid #d5d5d5;}
.pictures .del{
  position: absolute;
  top: 1px;
  right: 0px;
  z-index: 111;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0,0,0,.3);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  opacity: .9;
  padding: 0;
}
.filesupload{
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #e7e7e7;
  padding: 5px 15px;
  border-radius: 3px;
}
.filesupload input[type=file]{
  position: absolute;
  opacity: 0;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

}

#redeem, #redeemed {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  line-height: 145px;
  text-align: center;
  position: relative;
  z-index: 1;
  display: block;
  font-size: 20px;
  color: #fff;
  border-radius: 100%;
  background-color: #4b9727;
}
#redeem:after {
    content: '';
    border: 8px solid #fff;
    border-radius: 100%;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    position: absolute;
    z-index: -1;
}
#progress_blue {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  line-height: 145px;
  text-align: center;
  position: relative;
  display: block;
  font-size: 24px;
}
#progress_blue svg{
  position: absolute;
  top: 0;
  left: 0;
}