@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoona19c.eot?4aooh7');
  src:  url('../fonts/icomoona19c.eot?4aooh7#iefix') format('embedded-opentype'),
    url('../fonts/icomoona19c.ttf?4aooh7') format('truetype'),
    url('../fonts/icomoona19c.woff?4aooh7') format('woff'),
    url('../fonts/icomoona19c.svg?4aooh7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_275_cc:before {
  content: "\e900";
}
.icon-noun_625_cc:before {
  content: "\e901";
}
.icon-noun_81353_cc:before {
  content: "\e902";
}
.icon-noun_86266_cc:before {
  content: "\e903";
}
.icon-noun_173935_cc:before {
  content: "\e904";
}
.icon-noun_200346_cc:before {
  content: "\e905";
}
.icon-noun_252654_cc:before {
  content: "\e906";
}
.icon-noun_302089_cc:before {
  content: "\e907";
}
.icon-noun_356664_cc:before {
  content: "\e908";
}
.icon-noun_391392_cc:before {
  content: "\e909";
}
.icon-noun_437542_cc:before {
  content: "\e90a";
}
.icon-noun_498864_cc:before {
  content: "\e90b";
}
.icon-noun_581945_cc:before {
  content: "\e90c";
}
.icon-noun_627190_cc:before {
  content: "\e90d";
}
.icon-noun_641757_cc:before {
  content: "\e90e";
}
.icon-noun_648445_cc:before {
  content: "\e90f";
}
.icon-noun_670134_cc:before {
  content: "\e910";
}
.icon-noun_732281_cc:before {
  content: "\e911";
}
.icon-noun_750059_cc:before {
  content: "\e912";
}
.icon-noun_810312_cc:before {
  content: "\e913";
}
.icon-noun_831839_cc:before {
  content: "\e914";
}
.icon-noun_850887_cc:before {
  content: "\e915";
}
.icon-noun_850897_cc:before {
  content: "\e916";
}
.icon-noun_850900_cc:before {
  content: "\e917";
}
.icon-noun_850901_cc:before {
  content: "\e918";
}
.icon-noun_869998_cc:before {
  content: "\e919";
}
.icon-noun_878681_cc:before {
  content: "\e91a";
}
.icon-noun_921422_cc:before {
  content: "\e91b";
}
.icon-noun_921427_cc:before {
  content: "\e91c";
}
.icon-noun_921428_cc:before {
  content: "\e91d";
}
.icon-noun_923096_cc:before {
  content: "\e91e";
}
.icon-noun_1033147_cc:before {
  content: "\e91f";
}
.icon-noun_1101749_cc:before {
  content: "\e920";
}
.icon-noun_1313654_cc-(1):before {
  content: "\e921";
}
.icon-noun_1313654_cc:before {
  content: "\e922";
}
.icon-noun_1351105_cc:before {
  content: "\e923";
}
.icon-noun_1420619_cc:before {
  content: "\e924";
}
.icon-noun_1498981_cc:before {
  content: "\e925";
}
.icon-noun_1520395_cc:before {
  content: "\e926";
}
.icon-noun_1546213_cc:before {
  content: "\e927";
}
.icon-noun_1561072_cc:before {
  content: "\e928";
}
.icon-noun_1591959_cc:before {
  content: "\e929";
}
.icon-noun_1669270_cc:before {
  content: "\e92a";
}
.icon-noun_1686841_cc:before {
  content: "\e92b";
}
